*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 3000px;
}
.main{
    width: 100%;
    height: 100vh;
    border: 1px solid #777;
    overflow: hidden;
    position: relative;
}
.images{
    display: flex;
    width: 400%;
    height: 100%;
    
}
.item{
    width: 25%;
    height: 100%;
    border: 1px solid red;
}
.fas{
    position: absolute;
}
.chervonI{
    font-size: 25px;
    cursor: pointer;
    color: #ffff;
}
.left{
    margin-top: 320px;
    left: 20px;
}
.right{
    margin-top: 320px;
    right: 20px;
}